.search__results-table {
  &_row {
    &:nth-child(odd) {
      background-color: #e7efec;
    }

    &:hover .flight__details {
      opacity: 100%;
      color: #1eb7ee;
      transition: 500ms;
      border-bottom: 1px solid #1eb7ee;
    }

    &:hover {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }
  &__data {
    padding: 16px 10px;
  }
}

.no__flights_tr {
  text-align: center;
  background-color: #fff;
  font-size: 30px;
  font-weight: 700;
  color: #95989a;
}

.terminal {
  text-align: center;
}

.terminal__letter {
  color: #63c745;
  font-weight: 700;
  border: 1px solid #63c745;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
}

.airline__description {
  display: flex;
  justify-content: left;
  align-items: center;
}

.airline__logo {
  width: 55px;
  margin-right: 10px;
}

.airline__name {
  display: inline;
}

.flight__details {
  opacity: 0;
  text-decoration: none;
}
