.flight__search {
  &-block {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }

  &-header {
    -webkit-box-shadow: 0px 0px 100px -40px rgba(30, 183, 238, 0.15) inset;
    -moz-box-shadow: 0px 0px 100px -40px rgba(30, 183, 238, 0.15) inset;
    box-shadow: 0px 0px 100px -40px rgba(30, 183, 238, 0.15) inset;

    color: #1eb7ee;
  }

  &-field {
    width: 50%;
  }

  &-header {
    line-height: 80px;
    font-size: 70px;
    font-weight: 100;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }

  &-form {
    display: flex;
    background-color: #e7efec;

    &_icon {
      width: 10%;
      color: #95989a;
      font-size: 36px;
      padding: 20px 25px 15px;
      background-color: #fff;
    }
  }

  &-input {
    line-height: 80px;
    margin: 0;
    width: 65%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;

    &:focus {
      outline: none;
    }
  }

  &-button {
    line-height: 80px;
    margin: 0;
    width: 25%;
    border: none;
    outline: none;
    padding: 0 20px;
    background-color: #1eb7ee;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    border-top-right-radius: 85%;
    text-transform: uppercase;
    opacity: 50%;
    cursor: pointer;

    &:hover {
      border-top-right-radius: 0;
      border-bottom-right-radius: 85%;
      opacity: 100%;
      transition: 500ms;
    }
  }
}
